# ~/.config/systemd/user/bt-head.service
# 
# systemctl --user enable --now bt-headset.service

[Unit]
Description=Auto-connect Bluetooth Headset
After=bluetooth.target
Requires=bluetooth.target

[Service]
ExecStart=/usr/bin/bluetoothctl connect ...
Restart=on-failure

[Install]
WantedBy=default.target

